<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.isaia.sss_mobile_app">

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/download"
        android:label="Smartphone Security System"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".Main_Activity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="com.example.isaia.sss_mobile_app.Main_Activity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Predict_User">
            <intent-filter>
                <action android:name="com.example.isaia.sss_mobile_app.Predict_User" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Insert_Image">
            <intent-filter>
                <action android:name="com.example.isaia.sss_mobile_app.Insert_Image" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Reg_User">
            <intent-filter>
                <action android:name="com.example.isaia.sss_mobile_app.Reg_User" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Train_Models">
            <intent-filter>
                <action android:name="com.example.isaia.sss_mobile_app.Train_Models" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Upload_Image_From_Gall">
            <intent-filter>
                <action android:name="com.example.isaia.sss_mobile_app.Upload_Image_From_Gall" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Lock_Phone">
            <intent-filter>
                <action android:name="com.example.isaia.sss_mobile_app.Lock_Phone" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".MyAdmin"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/policies" />

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>

        <activity android:name=".MainActivity_Voice_Notes" />
        <activity android:name=".Capture_Images_Auto">
            <intent-filter>
                <action android:name="com.example.isaia.sss_mobile_app.Capture_Images_Auto" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service android:name=".Services.Take_Pictures_Service" />
        <service android:name=".Services.Predict_User_Service" />

        <receiver android:name=".BootCompletedIntentReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity android:name=".Main_Menu">
            <intent-filter>
                <action android:name="com.example.isaia.sss_mobile_app.Main_Menu" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Settings_With_Drawer"
            android:label="@string/title_activity_settings__with__drawer"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="com.example.isaia.sss_mobile_app.Settings_With_Drawer" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".View_Images"
            android:label="@string/title_activity_view__images"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="com.example.isaia.sss_mobile_app.View_Images" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>