<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.isaia.sss_mobile_app">

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.ACCESS_ASSISTED_GPS" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.BIND_DEVICE_ADMIN"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/downloadnew"
        android:label="Smartphone Security System"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Main_Activity_Images"
            android:theme="@style/FullScreen">
            <intent-filter>
                <action android:name="com.example.isaia.sss_mobile_app.Main_Activity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Reg_User">
            <intent-filter>
                <action android:name="com.example.isaia.sss_mobile_app.Reg_User" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".Services.MyAdmin"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/policies" />

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>

        <service android:name=".Services.Take_Pictures_Service" />
        <service android:name=".Services.Predict_User_Service" />
        <service android:name=".Services.Predict_User_Service_VN" />
        <service android:name=".Services.Predict_User_Image_Preview" />
        <service android:name=".Services.Train_Images_Model_Service" />
        <service android:name=".Services.Check_Accuracy_Service" />
        <service android:name=".Services.Train_VN_Model_Service" />
        <service android:name=".Services.Ring_Device_Service" />
        <service android:name=".Services.Register_User_Service" />
        <service android:name=".Services.Send_Coordinates_Service" />
        <service android:name=".Services.SSS_Vision_Service" />
        <service android:name=".Services.Progress_Dialog_Service" />



        <receiver android:name=".BroadCastReceivers.BootCompletedIntentReceiver"
            android:directBootAware="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".BroadCastReceivers.Sms_Listener_Receiver"
            android:enabled="true"
            android:permission="android.permission.BROADCAST_SMS"
            android:directBootAware="true"
            android:exported="true">
            <intent-filter android:priority="2147483647">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".BroadCastReceivers.Close_Application_Receiver"
            android:directBootAware="true">
            <intent-filter>
                <action android:name="Close_Application" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".Main_Menu"
            android:label="Smartphone Security"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="com.example.isaia.sss_mobile_app.Main_Menu" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Settings_With_Drawer"
            android:label="Settings"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="com.example.isaia.sss_mobile_app.Settings_With_Drawer" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".View_Images"
            android:label="@string/title_activity_view__images"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="com.example.isaia.sss_mobile_app.View_Images" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Main_Activity_Voice_Notes"
            android:label="Voice Notes Recording"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="com.example.isaia.sss_mobile_app.Main_Activity_Voice_Notes" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".User_And_Roles"
            android:label="Allowed Users"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>